@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="pt-5 display-3">Welcome to CIMS</h1>
    <h2 class="display-8">The HFEnergy Central Inventory Management System</h2>
</div>