@model Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<h1>Delete Customer</h1>

<form method="post">
    <input asp-for="CustomerId" hidden />
    <div class="border p-3 mt-4">
        <div class="mb-3 row p-1">
            <label asp-for="CustomerName" class="p-0"></label>
            <input asp-for="CustomerName" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ContactTitle" class="p-0"></label>
            <input asp-for="ContactTitle" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CompanyName" class="p-0"></label>
            <input asp-for="CompanyName" disabled class="form-control" />
        </div>        
        <div class="mb-3 row p-1">
            <label asp-for="Country" class="p-0"></label>
            <input asp-for="Country" disabled class="form-control" />
        </div>        
        <div class="mb-3 row p-1">
            <label asp-for="PhoneNumber" class="p-0"></label>
            <input asp-for="PhoneNumber" disabled class="form-control" />
        </div>        
        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete Customer</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-dark border-2 form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>