@model Facility

@{
    ViewData["Title"] = "Add Facility";
}

<h1>Add New Facility</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3 row p-1">
            <label asp-for="FacilityName" class="p-0"></label>
            <input asp-for="FacilityName" class="form-control"/>
            <span asp-validation-for="FacilityName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Location" class="p-0"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add Facility</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Facility" asp-action="Index" class="btn btn-outline-dark border-2 form-control">
                    Back To List
                </a>
            </div>
        </div>
        
        
    </div>
</form>

    @section Scripts{
        @{
        <partial name="_ValidationScriptsPartial" />
        }
    }