@model Facility

@{
    ViewData["Title"] = "Delete Facility";
}

<h1>Delete Facility</h1>

<form method="post">
    <input asp-for="FacilityId" hidden />
    <div class="border p-3 mt-4">
        <div class="mb-3 row p-1">
            <label asp-for="FacilityName" class="p-0"></label>
            <input asp-for="FacilityName" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Location" class="p-0"></label>
            <input asp-for="Location" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete Facility</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Facility" asp-action="Index" class="btn btn-outline-dark border-2 form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>