@using HFInventApp.ViewModels

@model vmSaleProductSelect

@{
    ViewData["Title"] = "Add Sale";
}

<h1>Add Product To Sale Cart</h1>

<form method="post">
    <div class="border p-3 mt-4">

        <div class="mb-3 row p-1">
            <label class="p-0">Product</label>
            <select asp-for="ProductId" asp-items="ViewBag.ProductSelectList" class="form-select p-0">
                <option disabled selected>--Choose Product--</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Quantity" class="p-0"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
                
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add To Sale Cart</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Sale" asp-action="Create" class="btn btn-outline-dark border-2 form-control">
                    Cancel Product Addition
                </a>
            </div>
        </div>
        
        
    </div>
</form>

    @section Scripts{
        @{
        <partial name="_ValidationScriptsPartial" />
        }
    }