@model ProductInventory

@{
    ViewData["Title"] = "Delete Inventory";
}

<h1>Delete Product Inventory</h1>

<form method="post">
    <input asp-for="InventoryId" hidden />
    <div class="border p-3 mt-4">        
        <div class="mb-3 row p-1">
            <label asp-for="Quantity" class="p-0"></label>
            <input asp-for="Quantity" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete Inventory</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="ProductInventory" asp-action="Index" class="btn btn-outline-dark border-2 form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>