@model ProductInventory

@{
    ViewData["Title"] = "Edit Inventory";
}

<h1>Edit Product Inventory</h1>

<form method="post">
    <input asp-for="InventoryId" hidden/>
    <div class="border p-3 mt-4">        
        <div class="mb-3 row p-1">
            <label class="p-0">Inventory Facility</label>
            <select asp-for="FacilityId" asp-items="ViewBag.FacilitySelectList" class="form-select p-0">
                <option disabled selected>--Choose Facility--</option>
            </select>
            <span asp-validation-for="FacilityId" class="text-danger"></span>
        </div>        
        <div class="mb-3 row p-1">
            <label class="p-0">Inventory Product</label>
            <select asp-for="ProductId" asp-items="ViewBag.ProductSelectList" class="form-select p-0">
                <option disabled selected>--Choose Product--</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Inventory BIN Lookup</label>
            <select asp-for="BinLookupId" asp-items="ViewBag.ProductSelectList" class="form-select p-0">
                <option disabled selected>--Choose BIN--</option>
            </select>
            <span asp-validation-for="BinLookupId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Quantity" class="p-0"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>        
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-success form-control">Update Product Inventory</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="ProductInventory" asp-action="Index" class="btn btn-outline-dark border-2 form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }