.divider-text:before,
.divider-text:after{
    color:white;
    content:"";
    flex:1;
    border-bottom:1px solid #555;
    margin:auto 0.25rem;
    box-shadow:0 -2px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-tile {
    display: block;
    height: 150px; /* Adjust height as needed */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center-align text */
    border-radius: 10px; /* Rounded corners for tiles */
    transition: all 0.3s ease; /* Smooth transition on hover */
}

.btn-tile:hover {
    transform: translateY(-5px); /* Move tile up slightly on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.btn-text {
    font-size: 24px; /* Adjust font size as needed */
    display: flex; /* Center-align text vertically */
    justify-content: center; /* Center-align text horizontally */
    align-items: center; /* Center-align text vertically */
    height: 100%; /* Occupy the entire height of the button */
}